/* Custom reset styles */
@import './base.css';

/* Third-party library styles */
@import './global.css';

/* Animations */
@import './tailwind.css';
@import './animation.css';

/* KeepAlive component styles */
@import './keep-alive.css';
